*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.link{
    color:#9792e4;
    text-decoration: underline;
}

img{
    width: 100%;
    height: 100%;
}

/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0 20%;
    width: 100%;
    height: 75px;
    background-color: #0084fd;
    z-index: 9999;
}

    .cont-left{
        padding-top: 10px;
        width: 8%;
        height: 70%;
        display: flex;
        align-items: center;
    }

        #logo{
            width: 80px;
        }

    .cont-right{
        display: flex;
        align-items: center;
    }
    
        .nav-voices{
            font-size: 18px;
            margin-left: 20px;
            margin-right: 20px;
            color: #fff;
        }

        .nav-button{
            color: #000;
            font-weight: bold;
            background-color: #fff;
            padding: 10px;
            border-radius: 40px;
            margin-right: 0;
        }


/* Main */
main{
    padding-top: 125px;
}

/* Features */
    .features{
        width: 100%;
        height: 600px;
        padding-left: 20%;
        padding-right: 20%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

        .feature-card.big{
            width: calc(((100% - 5px) / 3) * 2);
            /* border: #000 solid 1px; */
            margin-bottom: 1%;
            display: flex;
            overflow: hidden;
        }

            .demoapp{
                width: 50%;
                /* border: #000 solid 1px; */
                display: flex;
                flex-direction: column;
                margin: 3%;
            }

                #featbig{
                    width: 70%;
                    padding-top: 10px;
                    text-align: left;
                }

                    #phone{
                        width: 250px;
                    }

                #demodescr{
                    width: 100%;
                    padding-top: 10px;
                    text-align: left;
                }

                .demobutton{
                    margin-top: 20px;
                    width: 65%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    /* border: #000 solid 1px; */
                    font-weight: bold;
                    font-size: 18px;
                    color: #fff;
                    background-color: #0084fd;
                    border-radius: 1000px;
                    display: flex;
                    justify-content: column;
                    align-items: center;
                }

                    .buttoncont{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }

                        .applelogo{
                            padding-right: 10px;
                        }
                   
            .demoscreen{
                width: 40%;
                /* border: #000 solid 1px; */
                display: flex;
                flex-direction: column-reverse;
                
            }

        .feature-card{
            width: calc((100% - 20px) / 3);
            height: 300px;
            /* border: #000 solid 1px; */
            background-color: #b5ddff;
            border-radius: 20px;
        }

        .feature-card.small{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .featureimg{
                margin: 10px;
                width: 30%;
                /* border: #000 solid 1px; */
                font-size: 90px;
                color: #0084fd;
                text-align: center;
            }

            .featuretitle{
                width: 50%;
                /* border: #000 solid 1px; */
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: bold;
                color: #0080fd;
                text-align: center;
                padding-top: 10px;
            }

            .featuredescr{
                width: 90%;
                margin-top: 10px;
                /* border: #000 solid 1px; */
                font-weight: bold;
                font-size: 18px;
                color: #5b6f80;
                text-align: center;
            }

/* Banners */
.coloredbanner{
    margin-top: 50px;
    width: 100%;
    /* height: 700px; */
    background-color: #9792e4;
    display: flex;
    justify-content: center;
}

            /* Banner1 */
                .bannercont{
                    width: 60%;
                    /* border: #000 solid 1px; */
                    display: flex;
                }

                    .colsx{
                        width: 50%;
                        /* border: #000 solid 1px; */
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: end;
                    }

                        .banner1-img{
                            width: 70%;
                            padding-bottom: 80px;
                            margin-top: 30px;
                        }

                        .banner1-descr{
                            width: 70%;
                            padding-bottom: 50px;
                            display: flex;
                            flex-direction: column;
                            color: #fff;
                        }

                            .banner1-title{
                                width: 100%;
                                font-size: 22px;
                                font-weight: bold;
                                padding-bottom: 30px;
                            }

                            .banne1-text{
                                width: 100%;
                                font-size: 15px;
                                font-weight: bold;
                            }

                    .coldx{
                        width: 50%;
                        /* border: #000 solid 1px; */
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                    }

                        .banner1-card{
                            width: 60%;
                            background-color: #fff;
                            border-radius: 20px;
                            margin-bottom: 40px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }

                            .banner1-cardimg{
                                width: 50%;
                                padding-bottom: 30px;
                                margin-top: 20px;
                            }

                            .banner1-carddescr{
                                width: 70%;
                                padding-bottom: 10px;
                                display: flex;
                                flex-direction: column;
                                color: #000;
                            }

                            .banner1-cardtitle{
                                width: 100%;
                                font-size: 18px;
                                font-weight: bold;
                                padding-bottom: 10px;
                                text-align: center;
                            }

                            .banne1-cardtext{
                                text-align: center;
                                margin-bottom: 10px;
                            }

                            .centerarrow{
                                margin-top: 10px;
                                margin-bottom: 15px;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                            }

                                .card-downarrow{
                                    background-color: #9792e4;
                                    padding: 10px 15px;
                                    border-radius: 50%;
                                }
/* Team */
.teamcont{
    margin-top: 50px;
    width: 100%;
    /* height: 1000px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .teamdescr{
        width: 60%;
        /* border: #000 solid 1px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .testimonials{
            /* border: #000 solid 1px; */
            font-size: 18px;
            font-weight: lighter;
            margin-bottom: 20px;
        }

        .testimonialstitle{
            /* border: #000 solid 1px; */
            color: #9792e4;
            font-size: 45px;
            font-weight: bold;
            padding-bottom: 25px;
        }

        .testimonialsdescr{
            /* border: #000 solid 1px; */
            font-size: 20px;
            text-align: center;
        }

    .teamcards{
        width: 60%;
        /* height: 800px; */
        /* border: #000 solid 1px; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

        .teamperson{
            padding: 20px;
            width: 100%;
            /* height: 200px; */
            background-color: #9792e4;
            /* border: #000 solid 1px; */
            border-radius: 20px;
            display: flex;
            margin-bottom: 50px;
            margin-top: 30px;

        }
                .teamimg{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    overflow: hidden;
                    /* border: #000 solid 1px; */
                    background-size: cover;
                    background-position: center;
                }

                    .testimonial1{
                        background-image: url(../img/testimonial1.jpg);
                    }

                    .testimonial2{
                        background-image: url(../img/testimonial2.jpg);
                    }

                    .testimonial3{
                        background-image: url(../img/testimonial3.jpg);
                    }

                
                .teamtext-container{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    margin: 30px 35px;
                    font-size: 30px;
                    color: #fff;

                }
             
                .left{
                    margin-right: 10px;
                }

                .right{
                    margin-left: 10px;
                }

                .teamname{
                    width: 80%;
                    margin-top: 10px;
                    color: #fff;
                    font-size: 20px;
                    font-weight: bold;
                }

/* Banner2 */
.banner2{
    /* height: 1000px; */
    flex-direction: column;
    align-items: center;
}

    .benefits{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 60%;
        /* height: 100px; */
        /* border: #000 solid 1px; */
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
    }

    .cardsbenefits{
            width: 60%;
            /* height: 700px; */
            /* border: #000 solid 1px; */
            display: flex;
            flex-direction: column;
            align-items: center;
    }

        .rowbenefits{
            width: 100%;
            height: 400px;
            /* border: #000 solid 1px; */
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            
        }

            .benefcard{
                width: calc((100% - 60px) / 3);
                height: 100%;
                /* border: #000 solid 1px; */
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                color: #9792e4;
                padding: 20px;

            }

                .card-number{
                    width: 30%;
                    font-size: 90px;
                    font-weight: bold;
                }

                .card-titles{
                    width: 90%;
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }

                .card-descr{
                    width: 90%;
                    color: #00000093;
                    margin-bottom: 15px;
                }

                .more-button{
                    width: 40%;
                    padding: 5px 10px;
                    background-color: #9792e4;
                    color: #fff;
                    text-align: center;
                    border-radius: 25px;
                }

/* About Us */
.aboutus{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 600px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
}

    .aboutdescr{
        width: 70%;
        height: 600px;
        display: flex;
        flex-direction: column;
        /* border: #000 solid 1px; */
        padding-left: 50px;
        padding-top: 30px;
    }

        .about-title{
            font-size: 70px;
            font-weight: bold;
            color: #9792e4;
        }

        .about-descr1{
            margin-top: 30px;
            line-height: 30px;

        }

        .about-descr2{
            margin-top: 30px;
            line-height: 30px;

        }

    .profile{
        width: 30%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: #000 solid 1px; */
    }

        .aboutpic{
            width: 200px;
            height: 200px;
            position: relative;
            z-index: 500;
        }

            /* .aboutpic-quote{
                color: #9792e4;
                font-size: 30px;
                position: absolute;
                
            } */

        .quote-aboutus{
            padding-top: 15px;
            width: 70%;
            font-size: 25px;
            font-weight: bold;
            color: #9792e4;
        }

        .linkedin{
            margin-top: 15px;
            margin-bottom: 30px;
            padding: 2px;
            width: 55%;
            font: 8px;
            color: #fff;
            background-color: #9792e4;
            border-radius: 25px;
            text-align: center;
        }

            .linkedin-logo{
                padding-right: 5px;
            }

/* Get Started */
.banner3{
    /* height: 600px; */
    flex-direction: column;
    align-items: center;
    color: #fff;
}

    .getstarted{
        /* width: 10%; */
        /* height: 30px; */
        /* border: #000 solid 1px; */
        margin-top: 60px;
    }

    .pricing{
        /* width: 30%; */
        /* height: 70px; */
        /* border: #000 solid 1px; */
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .free{
        /* width: 20%; */
        /* height: 150px; */
        /* border: #000 solid 1px; */
        font-size: 100px;
        font-weight: bold;
        color: #fdc15f;
        margin-bottom: 20px;
    }

    .beta{
        width: 600px;
        /* height: 80px; */
        /* border: #000 solid 1px; */
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .getstarted-button{
        padding: 20px 50px;
        color: #9792e4;
        font-size: 20px;
        font-weight: bold;
        background-color: #fff;
        border-radius: 50px;
        /* border: #000 solid 1px; */
        margin-bottom: 20px;
    }

    .copyright{
        width: 30%;
        height: 50px;
        /* border: #000 solid 1px; */
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }

        .list{
            display: flex;
            padding-left: 20px;
        }

/* Footer */
footer{
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

    .footercont{
        margin-top: 30px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: #000 solid 1px; */
        margin-bottom: 30px;
    }

        .footerdescr{
            width: 70%;
            height: 60px;
            /* border: #000 solid 1px; */
            text-align: center;
            color: #fff;
            margin-top: 30px;
        }