*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0 20%;
    width: 100%;
    height: 75px;
    background-color: #0084fd;
}

    .cont-left{
        display: flex;
        align-items: center;
    }

    .cont-right{
        display: flex;
        align-items: center;
    }
    
        .nav-voices{
            font-size: 18px;
            margin-left: 20px;
            margin-right: 20px;
            color: #fff;
        }

        .nav-button{
            color: #000;
            font-weight: bold;
            background-color: #fff;
            padding: 10px;
            border-radius: 40px;
            margin-right: 0;
        }


/* Main */
main{
    padding-top: 125px;
    padding-bottom: 50px;

}

/* Features */
    .features{
        width: 100%;
        height: 600px;
        padding-left: 20%;
        padding-right: 20%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

        .feature-card.big{
            width: calc(((100% - 5px) / 3) * 2);
            height: 300px;
            border: #000 solid 1px;
            margin-bottom: 1%;
        }

        .feature-card{
            width: calc((100% - 20px) / 3);
            height: 300px;
            border: #000 solid 1px;
            background-color: #b5ddff;
            border-radius: 20px;
        }

/* Banners */
.coloredbanner{
    margin-top: 50px;
    width: 100%;
    height: 800px;
    background-color: #9792e4;
    display: flex;
    justify-content: center;
}

            /* Banner1 */
                .bannercont{
                    width: 60%;
                    height: 800px;
                    border: #000 solid 1px;
                    display: flex;
                }

                    .colsx{
                        width: 50%;
                        height: 800px;
                        border: #000 solid 1px;
                    }

                    .coldx{
                        width: 50%;
                        height: 800px;
                        border: #000 solid 1px;
                    }

/* Team */
.teamcont{
    margin-top: 50px;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .teamdescr{
        width: 60%;
        height: 200px;
        border: #000 solid 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .testimonials{
            width: 10%;
            height: 30px;
            border: #000 solid 1px;
        }

        .testimonialstitle{
            width: 60%;
            height: 100px;
            border: #000 solid 1px;
        }

        .testimonialsdescr{
            width: 100%;
            height: 70px;
            border: #000 solid 1px;
        }

    .teamcards{
        width: 60%;
        height: 800px;
        border: #000 solid 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

        .teamperson{
            width: 100%;
            height: 200px;
            background-color: #9792e4;
            border: #000 solid 1px;
            border-radius: 20px;
        }