*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0 20%;
    width: 100%;
    height: 75px;
    background-color: #0084fd;
}

    .cont-left{
        display: flex;
        align-items: center;
    }

    .cont-right{
        display: flex;
        align-items: center;
    }
    
        .nav-voices{
            font-size: 18px;
            margin-left: 20px;
            margin-right: 20px;
            color: #fff;
        }

        .nav-button{
            color: #000;
            font-weight: bold;
            background-color: #fff;
            padding: 10px;
            border-radius: 40px;
            margin-right: 0;
        }


/* Main */
main{
    padding-top: 125px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    height: 4000px;
    color: #000;
    display: flex;

}

    .features{
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

        .feature-card.big{
            width: calc(((100% - 5px) / 3) * 2);
            height: 300px;
            border: #000 solid 1px;
            margin-bottom: 1%;
        }

        .feature-card{
            width: calc((100% - 20px) / 3);
            height: 300px;
            border: #000 solid 1px;
            background-color: #b5ddff;
            border-radius: 20px;
        }